@import "./colors.scss";
@import "./fonts.scss";

.section_about_us_page {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $white-color;

    .about_us--paragraph {
        font-family: $font-playfair;
        font-size: 1.5em;
    }
}