//main colors
$blue-main-color: #A6DAFF;
$basic-button-color: #FFBC11;


//base colors
$black-color: black;
$white-color: rgb(245, 237, 237);

//swipe colors
$green-color: #00A86B;
$red-color: #D21F3C;

// $test: #9B4F96 
// #E91E63 
// #757575 
// #BDBDBD 
// #673AB7 
// #F06292 
// #9E9E9E 
// #E0E0E0 