@import "./colors.scss";
@import "./fonts.scss";
@import "./mixins.scss";

.section_landing_page {
    display: inline-block;
    justify-content: center;
    @include basicBackground;

    .page_pic {
        @include pagePicture;
    }
} 

.slp_welcome--quote {
    display: flex;
    justify-content: center;
    @include appFont(1.5em);
}

.lp_buttons_container {
    display: inline-block;
    width: 100%;
}

.basic_button {
    @include basicButton;
}
