@import "./colors.scss";
@import "./fonts.scss";


.section_landing_page {
    width: 100%;
    background-color: $white-color;
    display: inline-block;
    justify-content: center;

    .home_pic {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        object-fit: cover;
    }
} 

.slp_welcome--quote {
    display: flex;
    justify-content: center;
    font-family: $font-playfair;
    font-size: 1.5em;
}

.lp_buttons_container {
    display: inline-block;
    width: 100%;
}

.basic_button {
    display: block;
    margin: 0 auto;
    padding: 1em;
    width: 10em;
    border-radius: 30px;
    border-color: $pinkish-color;
    font-family: $font-montserrat;
    font-size: 1em;
    background-color: $pinkish-color;
    color: $white-color;
    margin-bottom: 2em;
}
