@import "./colors.scss";
@import "./fonts.scss";
@import "./media.scss";
@import "./mixins.scss";

.section_layout {
    @include layoutSection;
    max-width: 400px;
}

.section_landing_page--logo {
    padding: 20px;
}

.social_media--aera {
    @include socialMediaFooter;

    .icon-area {
        @include iconAeraFooter;
    }
}

.social_media--quote {
    padding-bottom: 20px;
    font-family: $font-montserrat;
    color: $white-color;
}


