@import "./colors.scss";
@import "./fonts.scss";

//basic paragraph and quotes
@mixin appFont($fontSize) {
    font-family: $font-playfair;
    font-size: $fontSize;
    color: $black-color;
}

//basic buttons
@mixin basicButton {
    display: block;
    margin: 0 auto;
    margin-bottom: 2em;
    border-radius: 30px;
    border-color: $basic-button-color;
    width: 10em;
    padding: 1em;
    font-family: $font-montserrat;
    font-size: 1em;
    background-color: $basic-button-color;
    color: $white-color;
    box-shadow: 2px 7px 42px -1px rgba(183, 177, 167, 1);
}

//swipe buttons in /play
@mixin swipeButtons {
        display: flex;
        margin-bottom: 2em;
        border-radius: 50%;
        border-color: $blue-main-color;
        width: 4em;
        height: 4em;
        padding: 1em;
        justify-content: center;
        align-items: center;
        background-color: $blue-main-color;
        font-size: 1em;
        font-family: $font-montserrat;
        color: $white-color;
}

//page bgrd
@mixin basicBackground {
    width: 100%;
    background-color: $white-color;
    margin: 0 auto;
    flex-grow: 1;
}

//layout section
@mixin layoutSection {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: $blue-main-color;
    justify-content: center;
    align-items: center;
}

//social media footer
@mixin socialMediaFooter {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

//icons in footer
@mixin iconAeraFooter {
    padding: 20px 20px 20px 20px;
    margin-top: 20px;
    color: $white-color;
}

//pics in app
@mixin pagePicture {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
        justify-content: center;
        object-fit: cover;
}
