@import "./colors.scss";
@import "./fonts.scss";
@import "./mixins.scss";

.section_swiping {
    display: block;
    justify-content: center;

    @include basicBackground;

    .section_film_info {
        display: flex;
        flex-direction: column;
        padding: 3em;
        font-size: 1em;
        font-family: $font-montserrat;
        text-align: center;
    }

    .film_info {
        padding: 2em;
    }

    .film-poster {
        width: 200px;
        height: 250px;
    }
}

.section_swipe_buttons {
    display: flex;
    gap: 8em;
    justify-content: center;

    .swipe-button {
        @include swipeButtons;
    }
}