@import "./colors.scss";
@import "./fonts.scss";
@import "./mixins.scss";

.section_final_matches {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include basicBackground;

    .paragraph {
        @include appFont(1.5em);

    }
}