@import "./colors.scss";
@import "./fonts.scss";
@import "./mixins.scss";

.section_final_matches {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    @include basicBackground;

    .paragraph {
        @include appFont(1.5em);

    }
}

.section_catched_matches--list {
    justify-content: center;
    li {
        display: flex;
        list-style-type: none; 
        width: 200px;
        height: 250px;
        padding: 1em;
        
    }
}